<!-- <div class="all-profile"> -->

    <!-- skills partion start -->
    <!-- skills header -->
    <div class="text-center text-title">
        MY SKILLS
    </div>
    <!-- skills container -->
    <div class="container">
        <div class="row mb-4">
            <!-- html5 -->
            <div class="col-md-6 mb-4">
                <div class="skills-content">
                    HTML5
                </div>
                <div class="progress gray-bg gray-bg" role="progress gray-bgbar" aria-label="Warning example"
                    aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress gray-bg-bar pink-bg" style="width: 95%"></div>
                </div>
            </div>
            <!-- CSS3 -->
            <div class="col-md-6 mb-4">
                <div class="skills-content">
                    CSS3
                </div>
                <div class="progress gray-bg" role="progress gray-bgbar" aria-label="Warning example" aria-valuenow="75"
                    aria-valuemin="0" aria-valuemax="100">
                    <div class="progress gray-bg-bar pink-bg" style="width: 95%"></div>
                </div>
            </div>
            <!--  JavaScript-->
            <div class="col-md-6 mb-4">
                <div class="skills-content">
                    JavaScript
                </div>
                <div class="progress gray-bg" role="progress gray-bgbar" aria-label="Warning example" aria-valuenow="75"
                    aria-valuemin="0" aria-valuemax="100">
                    <div class="progress gray-bg-bar pink-bg" style="width: 75%"></div>
                </div>
            </div>
            <!-- TypeScript -->
            <div class="col-md-6 mb-4">
                <div class="skills-content">
                    TypeScript
                </div>
                <div class="progress gray-bg" role="progress gray-bgbar" aria-label="Warning example" aria-valuenow="75"
                    aria-valuemin="0" aria-valuemax="100">
                    <div class="progress gray-bg-bar pink-bg" style="width: 75%"></div>
                </div>
            </div>
            <!-- Bootstrap -->
            <div class="col-md-6 mb-4">
                <div class="skills-content">
                    Bootstrap
                </div>
                <div class="progress gray-bg" role="progress gray-bgbar" aria-label="Warning example" aria-valuenow="75"
                    aria-valuemin="0" aria-valuemax="100">
                    <div class="progress gray-bg-bar pink-bg" style="width: 85%"></div>
                </div>
            </div>
            <!-- Angular Material -->
            <div class="col-md-6 mb-4">
                <div class="skills-content">
                    Angular Material
                </div>
                <div class="progress gray-bg" role="progress gray-bgbar" aria-label="Warning example" aria-valuenow="75"
                    aria-valuemin="0" aria-valuemax="100">
                    <div class="progress gray-bg-bar pink-bg" style="width: 77%"></div>
                </div>
            </div>
            <!-- Angular -->
            <div class="col-md-6 mb-4">
                <div class="skills-content">
                    Angular
                </div>
                <div class="progress gray-bg" role="progress gray-bgbar" aria-label="Warning example" aria-valuenow="75"
                    aria-valuemin="0" aria-valuemax="100">
                    <div class="progress gray-bg-bar pink-bg" style="width: 90%"></div>
                </div>
            </div>
            <!-- PHP -->
            <div class="col-md-6 mb-4">
                <div class="skills-content">
                    PHP
                </div>
                <div class="progress gray-bg" role="progress gray-bgbar" aria-label="Warning example" aria-valuenow="75"
                    aria-valuemin="0" aria-valuemax="100">
                    <div class="progress gray-bg-bar pink-bg" style="width: 70%"></div>
                </div>
            </div>
            <!-- Laravel -->
            <div class="col-md-6 mb-4">
                <div class="skills-content">
                    Laravel
                </div>
                <div class="progress gray-bg" role="progress gray-bgbar" aria-label="Warning example" aria-valuenow="75"
                    aria-valuemin="0" aria-valuemax="100">
                    <div class="progress gray-bg-bar pink-bg" style="width: 70%"></div>
                </div>
            </div>
            <!-- MySQL -->
            <div class="col-md-6 mb-4">
                <div class="skills-content">
                    MySQL
                </div>
                <div class="progress gray-bg" role="progress gray-bgbar" aria-label="Warning example" aria-valuenow="75"
                    aria-valuemin="0" aria-valuemax="100">
                    <div class="progress gray-bg-bar pink-bg" style="width: 80%"></div>
                </div>
            </div>
            <!-- WordPress -->
            <div class="col-md-6 mb-4">
                <div class="skills-content">
                    WordPress
                </div>
                <div class="progress gray-bg" role="progress gray-bgbar" aria-label="Warning example" aria-valuenow="75"
                    aria-valuemin="0" aria-valuemax="100">
                    <div class="progress gray-bg-bar pink-bg" style="width: 50%"></div>
                </div>
            </div>
            <!-- Linux -->
            <div class="col-md-6 mb-4">
                <div class="skills-content">
                    Linux
                </div>
                <div class="progress gray-bg" role="progress gray-bgbar" aria-label="Warning example" aria-valuenow="75"
                    aria-valuemin="0" aria-valuemax="100">
                    <div class="progress gray-bg-bar pink-bg" style="width: 85%"></div>
                </div>
            </div>
            <!-- Git -->
            <div class="col-md-6 mb-4">
                <div class="skills-content">
                    Git
                </div>
                <div class="progress gray-bg" role="progress gray-bgbar" aria-label="Warning example" aria-valuenow="75"
                    aria-valuemin="0" aria-valuemax="100">
                    <div class="progress gray-bg-bar pink-bg" style="width: 85%"></div>
                </div>
            </div>
            <!-- GitHub -->
            <div class="col-md-6 mb-4">
                <div class="skills-content">
                    GitHub
                </div>
                <div class="progress gray-bg" role="progress gray-bgbar" aria-label="Warning example" aria-valuenow="75"
                    aria-valuemin="0" aria-valuemax="100">
                    <div class="progress gray-bg-bar pink-bg" style="width: 85%"></div>
                </div>
            </div>
            <!-- Docker -->
            <div class="col-md-6 mb-4">
                <div class="skills-content">
                    Docker
                </div>
                <div class="progress gray-bg" role="progress gray-bgbar" aria-label="Warning example" aria-valuenow="75"
                    aria-valuemin="0" aria-valuemax="100">
                    <div class="progress gray-bg-bar pink-bg" style="width: 50%"></div>
                </div>
            </div>
            <!-- Testing -->
            <div class="col-md-6 mb-4">
                <div class="skills-content">
                    Testing
                </div>
                <div class="progress gray-bg" role="progress gray-bgbar" aria-label="Warning example" aria-valuenow="75"
                    aria-valuemin="0" aria-valuemax="100">
                    <div class="progress gray-bg-bar pink-bg" style="width: 90%"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- skills partion end -->
    <hr>
    <!-- timeline partion start -->
    <!-- timeline header -->
    <div class="text-center text-title">
        MY TIMELINE
    </div>
    <!-- timeline container -->
    <div class="container">
        <div class="row">
            <!-- Full Stack -->
            <div class="col-md-6 timeline-container">
                <!-- logo -->
                <div class="timeline-logo text-center">
                    <i class="bi bi-briefcase-fill"></i>
                </div>
                <!-- date -->
                <div class="date text-center">
                    Jan 2024 - May 2024
                </div>
                <!-- job title -->
                <div>
                    <span class="job-title">
                        Full Stack Web Development
                    </span>
                    <span class="job-company">
                        - ITI.
                    </span>
                </div>
                <!-- JOB DESCRIPTION -->
                <div class="job-description">
                    ✓ Full Stack Web Development Using PHP .
                    <br>
                    ✓ Frontend framework:Angular.
                    <br>
                    ✓ Backend framework:Laravel.
                </div>

            </div>
            <!-- Software Testing Engineer -->
            <div class="col-md-6 timeline-container">
                <!-- logo -->
                <div class="timeline-logo text-center">
                    <i class="bi bi-briefcase-fill"></i>
                </div>
                <!-- date -->
                <div class="date text-center">
                    Feb 2022 - Apr 2022
                </div>
                <!-- job title -->
                <div>
                    <span class="job-title">
                        Software Testing Engineer
                    </span>
                    <span class="job-company">
                        - HERBAZAAR
                    </span>
                </div>
                <!-- JOB DESCRIPTION -->
                <div class="job-description">
                    ✓ Run non-functional & performance testing.<br>
                    ✓ Write test cases that cover requirements and execute them.<br>
                    ✓ Write detailed bug reports.<br>
                    ✓ Raise bugs to be handled by the development team.<br>
                </div>

            </div>
            <!-- Robotics Instructor -->
            <div class="col-md-6 timeline-container">
                <!-- logo -->
                <div class="timeline-logo text-center">
                    <i class="bi bi-briefcase-fill"></i>
                </div>
                <!-- date -->
                <div class="date text-center">
                    Apr 2020 - Dec 2023
                </div>
                <!-- job title -->
                <div>
                    <span class="job-title">
                        Robotics Instructor
                    </span>
                    <span class="job-company">
                        - TECHNO FUTURE
                    </span>
                </div>
                <!-- JOB DESCRIPTION -->
                <div class="job-description">
                    ✓ Teach students how to build software & design for robots to participate in robotics competitions.
                </div>

            </div>
            <!-- IT Specialist -->
            <div class="col-md-6 timeline-container">
                <!-- logo -->
                <div class="timeline-logo text-center">
                    <i class="bi bi-briefcase-fill"></i>
                </div>
                <!-- date -->
                <div class="date text-center">
                    Sep 2011 - Jun 2016
                </div>
                <!-- job title -->
                <div>
                    <span class="job-title">
                        IT Specialist
                    </span>
                    <span class="job-company">
                        - B.N.C.
                    </span>
                </div>
                <!-- JOB DESCRIPTION -->
                <div class="job-description">
                    ✓ Resolve computer problems related to software and network troubleshooting.
                </div>

            </div>
        </div>
    </div>
<!-- </div> -->