<div class="row ">
    <div class="col-md-4 img-container">
        <div class="img-left-container">
            <div class="img-left"></div>
        </div>
        <div class="img-frame">
            <img class="img-edit" src="../../../assets/YASMINE.jpg" alt="">
        </div>
    </div>
    <div class="col-md-8 text-container">
        <div class="text-title">
            Hi, I'm <span class="pink">Yasmine Megahed.</span> A Web Developer.
        </div>

        <div class="text-content">
            I'm a Web Developer, I love to create beautiful and functional websites.
        </div>
    </div>
</div>
