<!-- contact me partion start -->
<!-- contact me header -->
<div class="text-center text-title">
    CONTACT ME
</div>
<!-- contact me info -->
<div class="row table-font">
    <!-- location -->
    <div class="col-6">
        <div>
            <span class="logo"><i class="bi bi-geo-alt-fill"></i></span>
            <span>Location</span>
        </div>
    </div>
    <div class="col-6">
        : Alexandria, Egypt.(Ready to relocate)
    </div>
    <!-- email -->
    <div class="col-6">
        <span class="logo"> <i class="bi bi-envelope-fill"></i></span>
        <span>Email</span>
    </div>
    <div class="col-6">
        : yasminemegahed93&#64;gmail.com
    </div>
    <!-- Education -->
    <div class="col-6">
        <span class="logo"> <i class="bi bi-mortarboard-fill"></i></span>
        <span>Education</span>
    </div>
    <div class="col-6">
        : Bachelor of Electronics & Communications Engineering
    </div>
    <!-- Mobile -->
    <div class="col-6">
        <span class="logo"> <i class="bi bi-telephone-fill"></i></span>
        <span>Mobile</span>
    </div>
    <div class="col-6">
        : +2-01033124419
    </div>
    <!-- Languages -->
    <div class="col-6">
        <span class="logo"> <i class="bi bi-globe-asia-australia"></i></span>
        <span>Languages</span>
    </div>
    <div class="col-6">
        : Arabic,English
    </div>
    <div class="col-12">
        <div class="d-flex flex-row justify-content-center">
            <!-- likedin -->
            <div class="pe-4">
                <button class="contact-logo text-center" (click)="navigateToLinkedin()">
                    <i class="fa-brands fa-linkedin-in"></i>
                </button>
            </div>
            <!-- github -->
            <div class="pe-4">
                <button class="contact-logo text-center" (click)="navigateToGitHub()">
                    <i class="fa-brands fa-github"></i>
                </button>
            </div>
            <!-- facebook -->
            <div class="pe-4">
                <button class="contact-logo text-center" (click)="navigateToFacebook()">
                    <i class="fa-brands fa-facebook-f"></i>
                </button>
            </div>

            <!-- instagram -->
            <div class="pe-4">
                <button class="contact-logo text-center" (click)="navigateToInstagram()">
                    <i class="fa-brands fa-instagram"></i>
                </button>
            </div>
        </div>
    </div>
</div>