<!-- contact me partion start -->
<!-- contact me header -->
<!-- <div class="header-contanier"> -->
<div class="text-center text-title header-contanier mb-5">
    CONTACT<span class="pink">&nbsp; ME</span>
    <div class="over-header">
        CONTACT ME
    </div>
</div>

<!-- </div> -->
<!-- contact me info -->
<div class="row table-font">
    <!-- location -->
    <div class="col-lg-6 col-md-4 col-12 mb-4">
        <div>
            <span class="logo"><i class="bi bi-geo-alt-fill"></i></span>
            <span>Location <span class="header-column">: </span></span>
        </div>
    </div>
    <div class="col-lg-6 col-md-8 col-12 mb-4 info">
        <span class="info-column">: </span> Alexandria, Egypt.(Ready to relocate)
    </div>
    <!-- email -->
    <div class="col-lg-6 col-md-4 col-12 mb-4">
        <span class="logo"> <i class="fa-solid fa-envelope"></i></span>
        <span>Email <span class="header-column">: </span></span>
    </div>
    <div class="col-lg-6 col-md-8 col-12 mb-4 info">
        <span class="info-column">: </span> yasminemegahed93&#64;gmail.com
    </div>
    <!-- Education -->
    <div class="col-lg-6 col-md-4 col-12 mb-4">
        <span class="logo"> <i class="bi bi-mortarboard-fill"></i></span>
        <span>Education <span class="header-column">: </span></span>
    </div>
    <div class="col-lg-6 col-md-8 col-12 mb-4 info">
        <span class="info-column">: </span> Bachelor of Electronics & Communications Engineering
    </div>
    <!-- Mobile -->
    <div class="col-lg-6 col-md-4 col-12 mb-4">
        <span class="logo"> <i class="bi bi-telephone-fill"></i></span>
        <span>Mobile <span class="header-column">: </span></span>
    </div>
    <div class="col-lg-6 col-md-8 col-12 mb-4 info">
        <span class="info-column">: </span> +2-01033124419
    </div>
    <!-- Languages -->
    <div class="col-lg-6 col-md-4 col-12 mb-4">
        <span class="logo"> <i class="bi bi-globe-asia-australia"></i></span>
        <span>Languages <span class="header-column">: </span></span>
    </div>
    <div class="col-lg-6 col-md-8 col-12 mb-4 info">
        <span class="info-column">: </span> Arabic,English
    </div>
    <div class="col-12">
        <div class="d-flex flex-row justify-content-center">
            <!-- likedin -->
            <div class="px-2">
                <button class="contact-logo text-center" (click)="navigateToLinkedin()">
                    <i class="fa-brands fa-linkedin-in"></i>
                </button>
            </div>
            <!-- github -->
            <div class="px-2">
                <button class="contact-logo text-center" (click)="navigateToGitHub()">
                    <i class="fa-brands fa-github"></i>
                </button>
            </div>
            <!-- facebook -->
            <div class="px-2">
                <button class="contact-logo text-center" (click)="navigateToFacebook()">
                    <i class="fa-brands fa-facebook-f"></i>
                </button>
            </div>
            <!-- instagram -->
            <div class="px-2">
                <button class="contact-logo text-center" (click)="navigateToInstagram()">
                    <i class="fa-brands fa-instagram"></i>
                </button>
            </div>
        </div>
    </div>
    <!-- download cv start -->
    <div class="col-12">
        <div class="d-flex flex-row justify-content-center">
            <div class="cv-btn">
                <a href="#" class="main-btn" (click)="navigateToCv()">
                    <span class="btn-text">Download CV</span>
                    <span class="btn-icon"><i class="fas fa-download"></i></span>
                </a>
            </div>
        </div>
    </div>
    <!-- download cv end -->
</div>