* {
  margin: 0;
  padding: 0;
}


.table-font {
  color: #454e56;
  font-size: 20px;
  font-weight: 400;
}
/* social icons start */
.logo {
  padding-right: 20px;
  /* padding-left: 20px; */
}

.contact-logo {
  margin-top: 30px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  font-size: 25px;
  background-color: rgb(202, 202, 202);
  color: #454e56;
  border: none;
}
.contact-logo:hover {
  background-color: #f56692; 
}
/* social icons end */
/* download cv start */
.main-btn {
  border-radius: 30px;
  color: #454e56;
  font-weight: 600;
  position: relative;
  border: 1px solid #f56692;
  display: flex;
  align-self: flex-start;
  align-items: center;
  overflow: hidden;
}
.main-btn .btn-text {
  padding: 0 2rem;
}
.main-btn .btn-icon {
  background-color: #f56692;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: .8rem ;
}
a {
  text-decoration: none;
  transition: background-color 0.7s ease; 
}

a:hover {
  background-color: #f56692; /* Change background color on hover */
}
.cv-btn{
  margin-top: 30px;
  margin-bottom: 30px;
}
.header-column{
display: none;
}
/* download cv end */


@media(max-width: 768px){
.info{
/* padding-left: 60px; */
padding-bottom: 30px;
}
.info-column{
  display: none;
}
.header-column{
  display: inline;
  }
}
