<div class="all-profile">

    <!-- contact me partion start -->
    <!-- contact me header -->
    <div class="text-center text-title">
        MY SKILLS
    </div>

    <!-- contact me info -->
    <div>
        <table>
            <tbody class="table-font">
                <tr>
                    <td class="logo">1</td>
                    <td class="info1">Location</td>
                    <td class="info2">: Alexandria, Egypt.(Ready to relocate)</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Email</td>
                    <td>: yasminemegahed93&#64;gmail.com</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Education</td>
                    <td>: Bachelor of Electronics & Communications Engineering</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Mobile Number</td>
                    <td>: +2-01033124419</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Languages</td>
                    <td>: Arabic,English</td>
                </tr>
            </tbody>

        </table>
    </div>
</div>