.all-profile{
    margin-left: 40px;
    margin-right: 40px;
}
.text-title {
    color: #454e56;
    font-size: 40px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .table-font{
    color: #454e56;
    font-size: 20px;
    font-weight: 400;
  }
  .logo{
    width:30px;
  }
  .info1{
width:200px;
  }
  /* .info2{

  } */