<div class="row">
    <div class="col-md-11 ">
        <div class="all-profile">
        <router-outlet />
        </div>
    </div>
    <div class="col-md-1 text-center icons-container">
        <div class="container">
            <div class="row">
                <!-- home logo -->

                <div class="col-md-12  col-3">
                    <button class="logo-frame" [routerLink]="['/']" routerLinkActive="change-bg"
                        [routerLinkActiveOptions]="{exact: true}">
                        <i class="bi bi-house-fill"></i>
                    </button>
                </div>
                <!-- profile logo -->
                <div class="col-md-12  col-3">
                    <button class="logo-frame" [routerLink]="['/profile']" routerLinkActive="change-bg"
                        [routerLinkActiveOptions]="{exact: true}">
                        <i class="bi bi-person-fill"></i>
                    </button>
                </div>
                <!-- portfolio logo -->
                <div class="col-md-12  col-3">
                    <button class="logo-frame" [routerLink]="['/portfolio']" routerLinkActive="change-bg"
                        [routerLinkActiveOptions]="{exact: true}">
                        <i class="bi bi-briefcase-fill"></i>
                    </button>
                </div>
                <!-- contact me logo -->
                <div class="col-md-12   col-3">
                    <button class="logo-frame" [routerLink]="['/contact-me']" routerLinkActive="change-bg"
                        [routerLinkActiveOptions]="{exact: true}">
                        <i class="bi bi-envelope-open-fill"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>